.row
  .col-sm-12.col-md-6
    .app__header-branding
      today

      %span.app__header-greeting
        - greeting = day_greeting

        #{fancy_quote greeting[:word]}
        in #{greeting[:language]}

  .col-sm-12.col-md-6
    - if current_user
      .app__current-user
        = current_user.email
        .app__current-user__actions
          = link_to "Sign out", sign_out_path, data: { method: :delete }
