- title "Do the thing"

.splash__hero
  .splash__awesome-copy
    Keep track of your daily standups.
  .splash__awesome-sub-copy
    Daily tasks, completion rate, simple over-time insights, no bs.
  .splash__cta
    = link_to "Start today", "#", class: "button"

