.button {
  @include transition(all 0.1s ease-in-out);

  background-color: $secondary-color;
  color: white;

  padding: 12px 16px;

  &:hover, &:focus {
    text-decoration: none;
    color: white;
    background: lighten($secondary-color, 10%);
  }
}
